<html>
    <head>
        <meta charset="UTF-8">
        <title>Test</title>

        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
            integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
            crossorigin=""/>

        <!-- Leaflet JavaScript -->
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

        <!-- jQuery -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

        <style type="text/css">
            #swissmap
            {
                margin: 1em auto;
                width: 800px;
                height: 600px;
            }
        </style>

    </head>
    <body>


        <p>Template value for foo is <strong>{{ foo }}</strong>.</p>

        <div id="swissmap"></div>

        <script type="text/javascript">

            // Interesting layer options to use:
            // 'subdomains' to customize which subdomains are used for parallel download
            // 'minZoom' and 'maxZoom' to limit the zoom interval in which a layer can be displayed
            // 'bounds' to limit the bounds in which a layer is displayed on the map

            // OpenTopoMap tile layer (topology added on OpenStreetMaps)
            var OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
            });

            // OpenStreetMaps tile layer (limited to Switzerland)
            // Unlimited tiles URL (slower!!) => 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
            var OpenStreetMap_CH = L.tileLayer('https://tile.osm.ch/switzerland/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            });

            // Stamen watercolor tile layer
            // ({s} allows to use different subdomains for parallel downloading in browsers)
            var Stamen_Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.jpg', {
                attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                // by default, {s} is set to ['a','b','c']
                // but it can be customized with the 'subdomains' option
            });

            // Layers selection popup
            var tileLayers = {
                "Standard map": OpenStreetMap_CH,
                "Topology map": OpenTopoMap
                // "Watercolor": Stamen_Watercolor
            };

            var themap = L.map('swissmap', {
                // The set of layers displayed by default on the map
                layers: [OpenTopoMap],
            }).setView([46.8,8],8);

            // Adds the layer/overlay selector GUI
            L.control.layers(
                tileLayers, // base layers (radio buttons)
                null, // overlays (checkboxes)
                {collapsed: false}
            ).addTo(themap);

            // Adding a layer manually
            // layer.addTo(map);




            var dataurl="{{ restaurants_json }}";
            var layerNormalStyle = "";
            var layerNHighlightStyle = "";

            var skiLayers = {
                'Slopes' : {
                    url: '{{ restaurants_json }}',
                    normalStyle:  {weight: 6, fillOpacity: 0.5},
                    highlightStyle: {weight: 3, fillOpacity: 0.2}
                },
                'Slopes' : {
                    url: '{{ restaurants_json }}',
                    normalStyle:  {weight: 6, fillOpacity: 0.5},
                    highlightStyle: {weight: 3, fillOpacity: 0.2}
                },


            };

            // REST API call to get the restaurants
            $.getJSON(dataurl, function (data) {
                var geojsonLayer = L.geoJson(data, {onEachFeature: addHighlightListeners});

                console.log("About to add geojson layer...");
                geojsonLayer.addTo(themap);
                console.log("Added!");
            });

            // Highlights the target of event e
            function highlightFeature(e) {
                var feature = e.target;

                feature.setStyle({
                    weight: 5,
                    fillOpacity: 0.5
                });

                feature.bringToFront();
            }

            function resetHighlight(e)
            {
                // Resets the polygon to the layer's default styling ?
                // geojsonLayer.resetStyle(e.target);

                // Line to get the feature's color
                // e.target.feature.properties.color

                // Trying to reset to the default style
                e.target.setStyle({
                    weight: 3,
                    fillOpacity: 0.2
                });
            }

            // Binds highlighting functions to each feature layer
            function addHighlightListeners(featureJson, featureLayer)
            {
                console.log("Adding listeners to feature " + featureJson.properties.name);

                // Setting the polygon's style
                featureLayer.setStyle({
                    color: featureJson.properties.color,
                    weight: 3,
                    fillOpacity: 0.2
                });

                // Mouse-triggered highlighting and zooming
                featureLayer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }

            // Zooms on a specific feature layer
            function zoomToFeature(e)
            {
                themap.fitBounds(e.target.getBounds());
            }


            // ====================================================
            // ============ Example code to for popups ============
            // ====================================================

            /*
            var popup = L.popup();

            function displayLocation(e) {
                popup
                .setLatLng(e.latlng)
                .setContent("The current location is: " + e.latlng.toString())
                .openOn(themap);
            }

            themap.on('click', displayLocation);
            */



            // ====================================================
            // ===== Example code to dynamically add polygons =====
            // ====================================================

            /*
            // Creates a marker and adds it to the map
            var marker = L.marker([46.134666, 7.62216]).addTo(themap);

            // Creates a circle and adds it to the map
            var circle = L.circle([46.7, 7.85], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 5000
            }).addTo(themap);

            // Creates a polygon and adds it to the map
            var polygon = L.polygon([
            [46.7, 7.85],
            [47.3, 7.99],
            [47.1, 8.3],
            [46.66,8.6],
            [46.51, 8.1]
            ]).addTo(themap);

            // Binds popups to the marker, circle and polygon
            marker.bindPopup("The town of Zinal in Valais").openPopup();
            circle.bindPopup("A circle near Interlaken.");
            polygon.bindPopup("The area of a new Swiss canton.");
            */

        </script>
    </body>
</html>